:root {
  font-family: 'Open Sans';
  font-size: 16px;

  --body-color: #343946;
  --scrollbar-bg-color: #1e1e24;
  --scrollbar-button-color: #b6b6b6;

  --text-color-primary: #000000;
  --text-color-secondary: #000000;
  --backround-primary: #b6b6b6;
  --backround-secondary: #adadad;

  --transition-speed: 600ms;
}



body {
  color: white;
  background-color: var(--body-color);
  margin: 0;
  padding: 0;
}

main {
  margin-left: 10rem;
  padding: 1rem;
}

a {
  text-decoration: none;
}

p {
  margin-left: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.tab {
  position: absolute;
  left: 150px;
}


/* Scrollbar: */
body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-track {
  background: var(--scrollbar-bg-color);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbar-button-color);
}



/* Navbar: */
.navbar {
  position: fixed;
  background-color: var(--backround-primary);
  width: 10rem;
  height: 100vh;
}
.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.nav-item {
  width: 100%;
}

/* Navbar links: */
.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-color-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}
.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--backround-secondary);
  color: var(--text-color-primary);
}
.link-text {
  display: inline;
  
}
.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}


/***************** Per Page Style *******************/
/* export.html: */
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}
.btn:hover {
  background-color: RoyalBlue;
}



/* Mobile-responsive: */
@media only screen and (max-width: 600px) {
  main {
    margin: 0;
  }
  p {
    margin: 0;
  }
  p1 {
    margin: 0;
  }

  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  .link-text {
    display: none;
  }

  .btn {
    margin: 0;
  }
}


